/* These styles are shared with ExerciseSetPresenter */
/*
.container {
    display: flex;
    justify-content: space-between;
    background-color: var(--background-color);
    border-radius: .8rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all .1s;
    width: 100%;
    height: 45vh;
    overflow: hidden;
}

.heroText {
    font-size: 5rem;
    font-weight: bold;
    color: var(--font-color);
    text-align: center;
    margin: auto;
    border-radius: .5rem;
    width: 50%;
    max-width: 50%;
}

.heroImg {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.heroImg img {
    width: 95%;
    height: 95%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: .8rem;
}
*/
.container {
    height: 80vh;
    background-image: linear-gradient(to right top,
            #016565ba,
            #029797ba),
        url('../../../public/images/hero.png');
    background-size: cover;
    background-position: top;

    clip-path: polygon(0 10%, 100% 0, 100% 85%, 0 100%);
    position: relative;

    backface-visibility: hidden;
}

.heroWrapper {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;

    text-align: center;
}

.heroText {
    font-size: 4rem;
    font-weight: bold;
    color: var(--font-color);
    text-justify: auto;
    text-align: center;
}

.heroMain {
    animation: fadeIn 1s ease-in;
}

.heroAccent {
    color: var(--accent-color);
    position: relative;
    display: inline-block;

    animation: fadeIn 1s ease-out 1.2s;
    animation-fill-mode: backwards;
}

.heroAccent::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.25rem;
    background: var(--accent-color);
    /* Use an accent color */
    border-radius: 50%;
    bottom: -0.5rem;
    /* Position the curve below the text */
    left: 0;
    transform: scaleX(1.5);
    /* Stretch the curve horizontally */
}

span {
    margin: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.buttonHero {
    /* Reference for ::after */
    position: relative;
    font-size: 1rem;
    margin-top: 5rem;
    display: inline;
    background-color: white;
    color: #4a4a4a;
    border-radius: 10rem;
    padding: 1rem 1.4rem;
    animation: fadeIn 1s ease-in 1.6s;
    animation-fill-mode: backwards;

    transition: all .2s;
}

.buttonHero:hover {
    transform: translateY(-.5rem);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
    background-color: white;
}

.buttonHero:active {
    transform: translateY(-.3rem);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
    background-color: white;
}

.buttonHero::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 1px;
    left: 1px;
    z-index: -1;
    width: 98%;
    height: 98%;
    opacity: 1;
    border-radius: 10rem;

    transition: all .2s;
}

.buttonHero:hover::after {
    transform: scaleX(1.5) scaleY(1.7);
    background-color: white;
    z-index: -1;
    opacity: 0;
}