/* These styles are shared with ExerciseSetPresenter */
.container {
    display: flex;
    justify-content: space-between;
    background-color: var(--background-color);
    border-radius: .8rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all .1s;
    width: 100%;
    height: 45vh;
    overflow: hidden;
    /* Ensure the container hides overflow */
}

.heroText {
    font-size: 5rem;
    font-weight: bold;
    color: var(--font-color);
    text-align: center;
    /* Center the text */
    margin: auto;
    /* Center the text vertically */
    background: var(--background-color);
    border-radius: .5rem;
    /* Add a subtle shadow */
    width: 50%;
    max-width: 50%;
}

.heroImg {
    width: 50%;
    height: 100%;
    overflow: hidden;
    /* Hide overflow */
    position: relative;
}

.heroImg img {
    width: 95%;
    height: 95%;
    /* image will be scaled to cover the entire container, while maintaining its aspect ratio. */
    object-fit: cover;
    /* Crop the image */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: .8rem;
}

.heroAccent {
    color: var(--accent-color);
    position: relative;
    display: inline-block;
}

.heroAccent::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.25rem;
    background: var(--accent-color);
    /* Use an accent color */
    border-radius: 50%;
    bottom: -0.5rem;
    /* Position the curve below the text */
    left: 0;
    transform: scaleX(1.5);
    /* Stretch the curve horizontally */
}

span {
    margin: 0;
}