@use "../abstracts" as *;

$bp-landing-largest: 156.25em; // 2500px, 2500/16 = 156.25em
$bp-landing-small: 56.25em; // 900px, 900/16 = 56.25em
$bp-landing-navbar: 51.5em; // 824px, 824/16 = 51.5em
$bp-landing-smallest: 37.5em; // 600px, 600/16 = 37.5em

$bp-largest: 81.25em; //1300px, 1300/16 = 81.25em
$bp-large: 45.125em; // 722px, 722/16 = 45.125em
$bp-small: 30.9375em; // 495px, 495/16 = 30.9375em
/* Basix reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;

  /* 
    Inherit box-sizing from parent, which will the the value
    defined in the body element
    */
  box-sizing: inherit;
}

html {
  // This defines what 1 rem is
  font-size: 62.5%; // 1rem = 10px, 10/16 = 50%

  @media only screen and (max-width: $bp-largest) {
    // 1rem = 8px
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  background-color: #e9e9e9;
  overflow-x: hidden;
}

// Style of selected text, images, etc.
::selection {
  background-color: $color-primary-dark;
  color: $color-white;
}
