@use "../abstracts" as *;

body {
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
}

.heading-secondary {
    font-size: 6rem;
    font-weight: 400;
    background-image: linear-gradient(to right, $color-grey-dark-5, $color-grey-dark-3);
    background-clip: text;
    color: transparent;
    border-bottom: 6px solid $color-primary-light;
    padding: 2rem 2.5rem;

    &--secondary-color {
        border-bottom-color: $color-secondary-dark;
    }
}

.heading-tertiary {
    font-size: 3.5rem;
    font-weight: 600;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    background-clip: text;
    color: transparent;
}