.u-center-text {
    text-align: center;
}

.u-margin-bottom-large {
    margin-bottom: 6rem;
}

.u-margin-top-small {
    margin-top: 2rem;
}

.u-mouse-pointer-hover {
    &:hover {
        cursor: pointer;
    }
}