.exerciseList {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    width: 90%;
    max-width: 40rem;

    /* Scroll bar */
    overflow-y: auto;
    max-height: 35rem;

    /* More spacing in first and last children */
    >*:first-child {
        margin-top: 1rem;
    }

    >*:last-child {
        margin-bottom: 1rem;
    }
}



.exerciseList>* {
    width: 90%;
    margin: .5rem 0;
}