@use "variables" as *;

@mixin image-in-backside($image, $overlay) {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image:
        linear-gradient(to right bottom,
            $color-primary-light,
            $color-primary-dark);
    background-size: cover;
    background-position: center;
    z-index: -1;
}