@mixin image-in-backside($image, $overlay) {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: $overlay, url($image);
    background-size: cover;
    background-position: center;
    filter: blur(3px);
    /* Adjust filter settings here */
    z-index: -1;
    /* Place the background behind the content */
}