// ======== COLORS ========
$color-primary: #2FCA82;
$color-primary-light: #4BDE94;
$color-primary-dark: #03B670;

$color-secondary: #F78E2C;

$color-grey-light-1: #B7BAB8;
$color-grey-light-2: #c3c6c4;
$color-grey-light-3: #d7dad8;

$color-grey-dark-1: #AAADAB;
$color-grey-dark-2: #979a98;
$color-grey-dark-3: #858886;

$color-white: #fff;
$color-black: #000;