// ======== COLORS ========
$color-primary: #2FCA82;
$color-primary-light: #4BDE94;
$color-primary-dark: #03B670;

$color-secondary: #F78E2C;
$color-secondary-light: #ffa45b;
$color-secondary-dark: #f08822;

$color-grey-light-1: #c3c6c4;
$color-grey-light-2: #dde0de;
$color-grey-light-3: #f1f4f2;

$color-grey-dark-1: #AAADAB;
$color-grey-dark-2: #858886;
$color-grey-dark-3: #575a58;
$color-grey-dark-4: #3c3f3d;
$color-grey-dark-5: #2d302e;

$color-white: #fff;
$color-black: #000;
$color-red: #ea704e;
$color-blue: #00c3d0; //05c1dc Also try these #, #02c4c4, #00c6b8

// Measures
$landing-nav-height: 7rem;
$register-and-login-pages-margin-sides: 1rem;