.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    padding: 2rem;
    margin-top: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.oauthContainer {
    display: flex;
    justify-items: center;
    margin-top: 1rem;
}

.oauthContainer>* {
    margin: 0 0.5rem;
}

.dividerContainer {
    display: flex;
    align-items: center;
    width: 50%;
    min-width: 22rem;
    max-width: 30rem;
    margin: 20px 0;
    text-align: center;
}

.dividerContainer::before,
.dividerContainer::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #ccc;
    margin: 0 10px;
}

.dividerText {
    font-size: 14px;
    color: #666;
    font-weight: bold;
    margin: auto;
}