.createTemplatePageContainer {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  height: 100%;
  width: 90%;
}

.newExerciseContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-bottom: 2rem;
}

.nameContainer {
  display: flex;
  flex-direction: column;
  min-width: 25%;
  max-width: 25%;
  align-items: start;
}

/* Select input children of nameContainer */
.nameContainer input {
  min-width: 60%;
  max-width: 75%;
}

.descriptionContainer {
  display: flex;
  min-width: 70%;
  max-width: 70%;
  flex-direction: column;
  align-items: start;
}

.descriptionContainer textarea {
  max-width: 90%;
  min-height: 1.4rem;
  max-height: 1.4rem;
}

h2 {
  font-size: var(--heading-font-size);
  margin-bottom: 3rem;
}

label {
  margin-left: 0.7rem;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  min-width: 8%;
  margin-top: .3rem;
}

.createExerciseButton {
  min-width: 90%;
  max-width: 100%;
  border-radius: 5px;
  transition: all .1s;
  margin: 0;
  padding: 1rem;
}

.createExerciseButton:disabled {
  background-color: #555555;
  cursor: not-allowed;
}

.exerciseListsContainer {
  display: flex;
  align-items: start;
  justify-content: space-around;
  width: 100%;
}

.exerciseList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 40%;
}