@use "../abstracts" as *;

.exercises-page {
    grid-column: page-start / page-end;
    grid-row: page-top / page-bottom;

    padding: 4rem 0;
    padding-right: 3rem;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: [search-start] 1fr [search-end new-start] 1fr [new-end content-start] 80% [content-end];
    grid-row-gap: 3rem;
}