@use "../abstracts" as *;

.home-page {
    grid-column: page-start / page-end;
    grid-row: page-top / page-bottom;

    padding: 4rem 0;
    padding-right: 3rem;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 4rem;

    // Layout

    &__recent-workouts-box {
        grid-column: 1 / -1;
        grid-row: 1 / -5;
    }

    &__weight-progress-box {
        grid-row: -5 / -1;
        grid-column: 1 / -4;
    }

    &__weight-input-box {
        background-color: green;
        grid-row: -5 / -1;
        grid-column: -4 / -1;

    }

}