@use "../abstracts" as *;

.home-page {
    grid-column: page-start / page-end;
    grid-row: page-top / page-bottom;

    padding: 4rem 0;
    padding-right: 3rem;

    // TODO revisar. Altura necesita ser fija para las gráficas responsive
    // La anchura parece que también, aunque no lo ponga en la documentación.
    // Esto está aquí temporamente. Realmente tendré que fijar estas dimensiones en el
    // componente padre de las gráficas, que será algún hijo del contenedor que tenga esta clase
    height: 80vh;
    width: 70vw;

}