@use "../abstracts" as *;

.landing {
    display: grid;
    grid-template-rows: [nav-start] 7rem [nav-end hero-start] 90vh [hero-end niche-start] min-content [niche-end benefits-start] minmax(min-content, 60vh) [benefits-end features-start] min-content [features-end testimonials-start] min-content [testimonials-end];
}

.niche-section {
    // Position set for including z-index for shadows beteween sections
    position: relative;
    z-index: 8;


    @include landing-page-line-between-sections;
    grid-row: niche-start / niche-end;

    background-image: linear-gradient(to right bottom, $color-grey-light-2, $color-grey-light-3);
    // background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
    padding: 20rem 10rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70rem, 1fr));
    grid-template-rows: [heading-start] 6rem [heading-end];
    grid-auto-rows: minmax(min-content, 45vh);
    grid-column-gap: 15rem;
    grid-row-gap: 8rem;
    justify-items: stretch;
    align-items: stretch;



    &__heading {
        grid-row: heading-start / heading-end;
        grid-column: 1 / -1;
        justify-self: center;
        align-self: end;
    }
}

.benefits {
    // Position set for including z-index for shadows beteween sections
    position: relative;
    z-index: 9;

    display: grid;

    align-content: center;
    justify-content: center;

    align-items: stretch;
    @include landing-page-line-between-sections;

    // Grid items span outside of their cells, so
    // different paddings for right and left
    padding: 20rem 20rem 22.5rem 14rem;

    grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
    grid-template-rows: [heading-start] 6rem [heading-end];
    grid-auto-rows: minmax(min-content, 35vh);

    grid-column-gap: 0rem;
    grid-row-gap: 9rem;

    background-color: $color-grey-light-2;

    grid-row: benefits-start / benefits-end;

    &__heading {
        grid-row: heading-start / heading-end;
        grid-column: 1 / -1;
        justify-self: center;
        align-self: end;
    }
}

.features {
    // Position set for including z-index for shadows beteween sections
    position: relative;
    z-index: 7;

    display: grid;
    justify-items: center;
    padding: 20rem 12rem;
    @include landing-page-line-between-sections;

    grid-row: features-start / features-end;

    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    grid-template-rows: [heading-start] 6rem [heading-end];

    grid-auto-rows: minmax(min-content, 30vh);

    grid-gap: 2rem;
    grid-row-gap: 6rem;

    color: $color-grey-dark-3;
    background-color: $color-grey-light-3;

    &__heading {
        grid-row: heading-start / heading-end;
        grid-column: 1 / -1;
        justify-self: center;
        align-self: end;
    }
}

.testimonials-section {
    // Position set for including z-index for shadows beteween sections
    position: relative;
    z-index: 6;


    @include landing-page-line-between-sections;
    grid-row: testimonials-start / testimonials-end;

    // background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
    padding: 20rem 10rem;

    // TODO revisar, esto es igual a niche-section
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70rem, 1fr));
    grid-template-rows: [heading-start] 6rem [heading-end];
    grid-auto-rows: minmax(min-content, 45vh);
    grid-column-gap: 15rem;
    grid-row-gap: 8rem;
    justify-items: stretch;
    align-items: stretch;



    // TODO revisar, esto es igual a niche-section
    &__heading {
        grid-row: heading-start / heading-end;
        grid-column: 1 / -1;
        justify-self: center;
        align-self: end;
    }
}