@use "../abstracts" as *;

.landing {
    display: grid;
    grid-template-rows: [nav-start] 7rem [nav-end hero-start] 90vh [hero-end niche-start] min-content [niche-end benefits-start] minmax(min-content, 60vh) [benefits-end features-start] min-content [features-end testimonials-start] min-content [testimonials-end];

}

.niche-section {
    @include landing-page-line-between-sections;
    grid-row: niche-start / niche-end;

    padding: 10rem 10rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60rem, 1fr));
    grid-template-rows: [heading-start] 6rem [heading-end];
    grid-auto-rows: minmax(min-content, 35vh);
    grid-column-gap: 15rem;
    justify-items: center;
    align-items: stretch;


    &__heading {
        grid-row: heading-start / heading-end;
        grid-column: 1 / -1;
        justify-self: center;
        align-self: end;
    }
}

.benefits {
    display: grid;

    align-content: center;
    justify-content: center;

    align-items: stretch;
    @include landing-page-line-between-sections;

    // Grid items span outside of their cells, so
    // different paddings for right and left
    padding: 16rem 20rem 18.5rem 14rem;

    grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
    grid-template-rows: [heading-start] 6rem [heading-end];
    grid-auto-rows: minmax(min-content, 35vh);

    grid-column-gap: 0rem;
    grid-row-gap: 9rem;

    background-color: $color-grey-light-2;

    grid-row: benefits-start / benefits-end;

    &__heading {
        grid-row: heading-start / heading-end;
        grid-column: 1 / -1;
        justify-self: center;
        align-self: end;
    }
}

.features {
    display: grid;
    justify-items: center;
    padding: 16rem 12rem;
    @include landing-page-line-between-sections;

    grid-row: features-start / features-end;

    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    grid-template-rows: [heading-start] 6rem [heading-end];

    grid-auto-rows: minmax(min-content, 30vh);

    grid-gap: 2rem;
    grid-row-gap: 6rem;

    color: $color-grey-dark-3;
    background-color: $color-grey-light-3;

    &__heading {
        grid-row: heading-start / heading-end;
        grid-column: 1 / -1;
        justify-self: center;
        align-self: end;
    }
}