@use "../abstracts/" as *;

.run-workout-page {
    display: grid;

    grid-template-columns: 100%;
    grid-template-rows: min-content;
    grid-auto-rows: min-content;
    grid-gap: 6rem;

    padding: 3rem 0;
    padding-top: 6rem;
    padding-right: 3rem;

    overflow-y: scroll;

    &__finish-button {
        justify-self: center;
        align-self: center;
        padding: 3rem 6rem;
        font-size: 2.2rem;
        font-weight: 500;
        border-radius: 1rem;
        background-color: $color-primary;
        color: $color-grey-light-3;
        border: none;
        cursor: pointer;
        transition: all .2s;

        &:hover {
            background-color: $color-primary-dark;
        }

        &:active {
            background-color: $color-primary-light;
        }
    }
}