@use "../abstracts" as *;

.templates-page {
    grid-column: page-start / page-end;
    grid-row: page-top / page-bottom;

    padding: 4rem 0;
    padding-right: 3rem;

    display: grid;
    grid-template-columns: [search-start] 1fr [search-end order-by-start] 10% [order-by-end];
    grid-template-rows: [search-start] 1fr [search-end new-start] 1fr [new-end content-start] 80% [content-end];
    grid-row-gap: 3rem;
}

.templates-page__button-new {
    grid-column: search-start / ordery-by-end;
    grid-row: new-start / new-end;
}

.templates-page__search-bar {
    grid-column: search-start / ordery-by-end;
    grid-row: search-start / search-end;
    align-self: center;
    justify-self: center;

    width: 70%;
    max-width: 80%;
}

.presenter-grid--templates {
    grid-column: search-start / ordery-by-end;
    grid-row: content-start / content-end;
}