.row {
    display: flex;
    background-color: transparent;
    align-items: center;
}

.label {
    margin: 0;
    color: var(--font-color);
    font-weight: normal;
}

.bold {
    font-weight: bold;
}

.fieldContainer {
    display: flex;
    align-items: center;
    justify-items: start;
    min-height: 4rem;
}

input {
    margin: 0;
    margin-left: 1rem;
    max-width: 3rem;
    text-align: right;
}

/* target every fieldContainer except the first one */

.fieldContainer:not(:first-child) {
    margin-left: 3rem;
}
