.row {
    display: flex;
    background-color: transparent;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;


    /* TODO borrar */
    border: red solid .15rem;
}

/* select every row child */
.row>* {
    font-size: var(--body-font-size);
}


.label {
    margin: 0;
    color: var(--font-color-contrast);
    font-weight: normal;
}

.bold {
    font-weight: bold;
}

.fieldContainer {
    display: flex;
    align-items: center;
    justify-items: flex-start;
    min-height: 4rem;

    /* TODO borrar */
    border: red solid .15rem;
}

.inputField {
    margin: 0;
    margin-left: 1rem;
    /* min-width: 3rem; */
    /* max-width: 8rem; */
    text-align: right;
}

/* target every fieldContainer except the first one */

.fieldContainer:not(:first-child) {
    margin-left: 3rem;
}