/* These styles are shared with ExerciseSetPresenter */
.exercisePresenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    background-color: var(--primary-color);
    border-radius: .8rem;
    border: var(--font-color) solid .15rem;
    padding: .5rem 1rem;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all .1s;
    width: 90%;
    max-width: 500px;
}

.exercisePresenter:hover {
    border: var(--accent-color) solid .15rem;
}

.exercisePresenter:hover .exerciseName {
    color: var(--accent-color);
}

.exercisePresenter:hover input {
    color: var(--accent-color);
}

.exerciseName {
    font-weight: bold;
    transition: all .1s;
}

.exerciseDescription {
    font-size: .8rem;
}