/* These styles are shared with ExerciseSetPresenter */
.container {
    display: flex;
    align-content: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    border-radius: .8rem;
    border: var(--font-color-contrast) solid .15rem;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all .1s;
    width: 90%;
    /* max-width: 500px; */
}

.container * {
    color: var(--font-color-contrast);
}

.container:hover {
    border: var(--accent-color) solid .15rem;
}

.container:hover .exerciseName {
    color: var(--accent-color);
}

.container:hover input {
    color: var(--accent-color);
}

.exercisePresenter {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: .5rem;
    margin-right: 0;
}

.exercisePresenter * {
    user-select: none;
}

.exerciseName {
    font-weight: bold;
    transition: all .1s;
    font-size: var(--subheading-font-size);
}

.exerciseDescription {
    font-size: var(--body-font-size);
}

.deleteContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--heading-font-size);
    font-weight: 500;
    transition: all .1s;
    padding: 0 1.4rem;
    color: var(--font-color);

    /* Adjust radius to match border */
    border-top-right-radius: .63rem;
    border-bottom-right-radius: .63rem;
}

.deleteContainerEnabled {
    cursor: pointer;
    background-color: var(--background-color);
}

.deleteContainerEnabled:hover {
    color: var(--font-color-contrast);
    background-color: var(--accent-color);
    /* Prevent text selection */
    user-select: none;
}

.deleteContainerDisabled {
    cursor: not-allowed;
    background-color: var(--disabled-color);
}