.setsContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: 2px solid var(--text-color);
    transition: all .1s;
}

.setsContainer>* {
    font-size: var(--input-field-font-size);
    font-weight: 500;
}

.setsInput {
    /* max-width: 3rem; */
    margin-left: .5rem;
    text-align: center;
    border: none;
    border-bottom: 2px solid var(--font-color-contrast);
    color: var(--font-color-contrast);
    background-color: var(--primary-color);
}

/* .setsInput is a class for a number input. Remove border when selected */
.setsInput:focus {
    outline: none;
}