.pageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
}

.conditionalRender {
    width: 99%;
}

.recentWorkoutsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
}

.templateNameContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 2rem 0;
    background-color: var(--background-color);
}

.columnAlignedLeft {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
}

.listContainer {
    display: flex;
    align-items: start;
    width: 100%;
}


.individualListContainer {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
}

.individualListContainer:first-of-type {
    margin-right: 5rem;
}

.previewContainer {
    width: 97%;
    max-width: 40rem;
}