.container {
    display: flex;
    flex-direction: column;
    align-items: start;
    /* width: 100%; */
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: var(--font-color) solid .15rem;
}

.exerciseTitle {
    margin: 0;
    font-size: var(--heading-font-size);
    font-weight: bold;
    color: var(--font-color-contrast);
    margin-bottom: 10px;
    /* Space below the title */
    display: block;
    /* Make span behave like a block element */
}