/* NavBar.module.css */
.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--background-color);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: all .3s ease;
    border-bottom: 1px solid var(--font-color);
}

.navBarLogo img {
    height: 40px; /* Adjust based on your logo's aspect ratio */
    cursor: pointer;
    transition: transform .2s ease;
}

.navBarLogo img:hover {
    transform: scale(1.05);
}

.navBarLogo a {
    text-decoration: none;
}

.navBarLinksContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navBarLinks {
    text-decoration: none;
    color: var(--text-color);
    margin: 0 .8rem;
    font-weight: bold;
    transition: color .2s ease;
}

.navBarLinks:hover {
    color: var(--accent-color);
}


.navBarLinkActive {
    text-decoration: none;
    margin: 0 .8rem;
    font-weight: bold;
    color: var(--primary-color);
    transition: color .2s ease;
}
