.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: var(--background-color);
    border-radius: .5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 2rem 0;
    transition: transform 0.3s ease;
}

.container:hover {
    transform: scale(1.005);
}

.reverse {
    flex-direction: row-reverse;
}

.imageContainer {
    flex: 1;
    padding: 1rem;
}

.image {
    width: 100%;
    height: auto;
    border-radius: .5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.textContainer {
    flex: 1.7;
    padding: 1rem;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.description {
    font-size: 1.2rem;
    color: var(--font-color);
    line-height: 1.5;
}