.container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background-color: var(--background-color);
  border-radius: 0.5rem;
  border: var(--font-color) solid 0.15rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.1s;
  width: 90%;
  height: 95%;
  max-height: 5rem;
  min-height: 5rem;
  max-width: 15rem;
  /* Space between children */
  gap: 0.3rem;
}

/* Children's text of .recentWorkout is not selectable */
.container * {
  user-select: none;
}

.recentWorkout {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  width: 95%;
  height: 100%;
  max-height: 150px;
  max-width: 15rem;
}

.name {
  display: flex;
  justify-content: center;
  font-weight: bold;
  transition: all 0.1s;
  font-size: var(--body-font-size);
  width: 100%;
}

.container:hover {
  border: var(--accent-color) solid 0.15rem;
}

.container:hover .name {
  color: var(--accent-color);
}

.fullDateInfo {
  display: flex;
  align-content: center;
  justify-content: space-around;
  font-size: var(--body-font-size);
  width: 100%;
}

.agoSentence {
  margin-right: 0.5rem;
}