@use "../abstracts" as *;

.benefit {
    perspective: 100rem;
    filter: drop-shadow(0 .5rem 1rem rgba($color-black, 0.15));

    position: relative;
    z-index: 10;
    $shared-transition: all .4s ease-in;

    transition: $shared-transition;

    $middle-polygon: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);

    // Expand component beyond grid cell
    $scale-factor: .2;
    transform: scale(calc(1 + $scale-factor));

    // Restore original size for child elements
    &__shape>* {
        transform: scale(calc(1 - $scale-factor));
    }

    &:hover {
        transform: translateY(-1.8rem) scale(calc(1 + 2*$scale-factor));
        filter: drop-shadow(0 2rem 2rem rgba($color-black, 0.8));

        z-index: 20;
    }

    &:hover &__front-side {
        transform: rotateX(180deg);
    }


    &:hover &__back-side {
        transform: rotateX(360deg);
    }

    &:hover &__shape {
        padding-right: 0;
        padding-left: 0;
    }

    &__shape {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-basis: 100%;
        height: 100%;
        padding: 10rem 0;
        transition: $shared-transition;

        $padding-before-and-after: 6rem;
        $overlay: linear-gradient(to right bottom,
                rgba($color-primary-light, 0.7),
                rgba($color-primary-light, 0.7));

        &--1 {
            &.benefit {
                &__front-side {
                    // TODO change image
                    background-image: $overlay, url('../../public/images/CTA3.png');
                    background-size: cover;
                }

                &__back-side {

                    // TODO change image
                    &::before {
                        @include image-in-backside('../../public/images/CTA3.png',
                            $overlay);
                    }
                }
            }
        }

        &--2 {
            &.benefit {
                &__front-side {
                    // TODO change image
                    background-image: $overlay, url('../../public/images/CTA2.png');
                    background-size: cover;
                }

                &__back-side {
                    &::before {
                        // TODO change image
                        @include image-in-backside('../../public/images/CTA2.png',
                            $overlay);
                    }
                }
            }
        }

        &--3 {
            &.benefit {
                &__front-side {
                    // TODO change image
                    background-image: $overlay, url('../../public/images/CTA3.png');
                    background-size: cover;
                }

                &__back-side {

                    // TODO change image
                    &::before {
                        @include image-in-backside('../../public/images/CTA3.png',
                            $overlay);
                    }
                }
            }
        }

        &--4 {
            &.benefit {
                &__front-side {
                    // TODO change image
                    background-image: $overlay, url('../../public/images/CTA1.png');
                    background-size: cover;
                }

                &__back-side {

                    // TODO change image
                    &::before {
                        @include image-in-backside('../../public/images/CTA1.png',
                            $overlay);
                    }
                }
            }
        }

        &--start {
            clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
            padding-left: $padding-before-and-after;
            align-items: flex-start;
        }

        &--middle {
            clip-path: $middle-polygon;

            .benefit__title {
                margin-left: 15%;
            }
        }

        &--end {
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 25% 50%);
            padding-right: $padding-before-and-after;
            align-items: flex-end;
        }
    }

    &__list {
        display: block;
        font-size: 1.8rem;
        list-style: none;
        align-self: center;
    }

    &__title {
        display: inline-block;
        padding: 1rem 2rem;
        //background-image: linear-gradient(to right,
        //        $color-primary-dark,
        //        $color-primary-light);
        background-image: linear-gradient(to right,
                $color-secondary-light,
                $color-secondary-dark);
        font-size: 3rem;
        font-weight: 600;
        color: $color-white;
        letter-spacing: 1.10rem;
        border-radius: .3rem;
        text-align: center;
        box-shadow: 0 .5rem 1rem rgba($color-black, 0.15);
    }

    &__front-side,
    &__back-side {
        backface-visibility: hidden;
    }

    &__back-side {
        position: absolute;
        transform: rotateX(180deg);
        top: 0;
        left: 0;
        width: 100%;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
}