@use "../abstracts/" as *;

.plain-btn {
    border: none;
    background-color: transparent;
    font-family: inherit;
    transition: all .2s;
    text-align: left;
    cursor: pointer;
}

.simple-btn {
    border: none;
    background-color: transparent;
    font-family: inherit;
    border-bottom: 1px solid currentColor;
    transition: all .2s;
    text-align: left;
    cursor: pointer;

    &::after {
        content: "→";
        color: currentColor;
        margin-left: 1rem;
        display: inline-block;
        transition: all .2s;
    }

    &:hover {
        transform: translateY(-.2rem);
    }

    &:hover::after {
        margin-left: 1.5rem;
    }

    &:active {
        transform: translateY(-.1rem);
    }

    &--no-border {
        border-bottom: none;
    }
}