@use "../abstracts" as *;

.current-subscription-presenter {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 3rem;

  background-color: $color-grey-light-2;
  border-radius: 1rem;
  opacity: 0.8;
  padding: 3rem 4rem;

  // max-width: 100rem;

  &__upper-row {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__lower-row {
    grid-column: 1 / -1;

    display: grid;
    // TODO hacer autorows autofit
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3rem;
  }

  &__cancel-btn {
    padding: 1rem 2rem;
    border-radius: 1rem;
    background-color: $color-red;

    &:hover {
      background-color: $color-red-dark;
    }

    &:active {
      background-color: $color-red-light;
    }
  }

  &__title {
    font-size: 2rem;
    font-weight: 700;
    color: $color-grey-dark-5;
  }

  &__info-container {
    display: grid;
    grid-column-gap: 3rem;
    grid-row-gap: 0.7rem;
    grid-template-columns: [icon-start]min-content [icon-end info-start] 1fr [info-end];
    grid-template-rows: [top]1fr [mid] 1fr [bottom];

    background-color: $color-grey-light-3;
    padding: 1rem 2rem;
    border-radius: 1rem;
  }

  &__icon-box {
    grid-column: icon-start / icon-end;
    grid-row: top / bottom;
    align-self: center;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: $color-grey-light-3;
    border-radius: 100%;

    & > * {
      width: 100%;
      height: 100%;
    }
  }

  &__info-title {
    grid-column: info-start / info-end;
    grid-row: top / mid;
    font-weight: 300;
    font-size: 1.4rem;
    color: $color-grey-dark-5;
  }
  &__info-value {
    grid-column: info-start / info-end;
    grid-row: mid / bottom;
    font-size: 1.5rem;
    font-weight: 700;
    color: $color-grey-dark-4;
  }
}
