@use "../abstracts/" as *;

.exercise-presenter {
    position: relative;
    display: grid;

    grid-template-columns: [info-start] 1fr [info-end actions-start] min-content [actions-end];
    grid-template-rows: [presenter-top] 1fr [presenter-bottom];

    grid-column-gap: 2rem;

    background-color: $color-white;
    padding: 2rem;
    border-radius: 1.5rem;

    border: 2px solid transparent;

    transition: all 0.2s;

    &:hover,
    &:active {
        border-color: $color-primary;
        box-shadow: 0 .5rem 2rem rgba($color-black, 0.05);
    }

    &__info-box {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: min-content;
        grid-gap: 1rem;
    }

    &__name {
        font-size: 2rem;
        font-weight: 600;
        color: $color-grey-dark-5;
    }

    &__description {
        font-size: 1.6rem;
        color: $color-grey-dark-4;
        hyphens: auto;
    }

    &__actions-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    &__icon-box {
        width: 2.5rem;
        height: 2.5rem;
        cursor: pointer;
        transition: all 0.2s;

        &>* {
            width: 100%;
            height: 100%;
        }

        &--delete {
            &:hover {
                color: $color-red;
            }
        }

        &--edit {
            &:hover {
                color: $color-primary;
            }
        }
    }
}

.exercise-presenter--no-actions {
    .exercise-presenter__actions-box {
        display: none;
    }

    .exercise-presenter__info-box {
        grid-column: 1 / -1;
    }
}