@use "../abstracts" as *;

.feature {

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        background-color: $color-white;
        width: 85%;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);

        padding: 0rem 4rem;
        padding-bottom: 2rem;
        border-radius: .3rem;

        transition: all .5s;

        &:hover {
            transform: translateY(-.3rem);
            background-image: linear-gradient(to right,
                    $color-primary-light, $color-primary-dark);
            box-shadow: 0 2rem 4rem rgba($color-black, .30);
        }
    }

    &__card:hover &__title,
    &__card:hover &__text,
    &__card:hover &__icon-box {
        color: $color-white;
    }

    &__card:hover &__title {
        background-image: linear-gradient(to right bottom,
                $color-secondary-light, $color-secondary-dark);
        background-clip: unset;
        cursor: pointer;
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);

        &:hover {
            transform: translateY(-.2rem);
            box-shadow: 0 .75rem 1.25rem rgba($color-black, .20);
        }

        &:active {
            transform: translateY(-.1rem);
            box-shadow: 0 .6rem 1.2rem rgba($color-black, .18);
        }
    }

    &__icon-box {
        $icon-size: 8.5rem;
        width: $icon-size;
        height: $icon-size;
        margin-top: 3rem;
        margin-bottom: 3.5rem;
        color: $color-primary;

        &>* {
            font-size: $icon-size;
            --ionicon-stroke-width: 16px;
        }
    }

    &__title {

        &,
        &:link,
        &:visited {
            text-decoration: none;
            display: inline-block;
            background-image: linear-gradient(to right,
                    $color-primary-light, $color-primary-dark);
            background-clip: text;
            color: transparent;
            font-size: 2.1rem;
            font-weight: 800;
            padding: 1rem 2rem;
            border-radius: .3rem;
            text-align: center;

            transition: all .2s;
        }
    }

    &__text {
        font-size: 1.6rem;
        line-height: 1.5;
        text-align: center;
        margin-top: 2rem;

        font-weight: 500;
    }
}