@use "../abstracts/" as *;

.template-creator {
    display: grid;

    padding: 4rem;

    grid-template-columns: [exercises-start] 1fr [exercises-end templates-start] 1fr [templates-end];
    grid-template-rows: [name-start] min-content [name-end description-start] min-content [description-end spacing-start] 4rem [spacing-end presenter-start] 1fr [presenter-end];
    grid-row-gap: 2rem;
    grid-column-gap: 8rem;

    &__exercise-search-bar {
        grid-row: name-start / name-end;
        align-self: end;
        justify-self: center;
    }

    &__exercise-button-new {
        grid-row: description-start / description-end;
        padding: 1.3rem;
        align-self: start;
        margin-top: 2.5rem;
    }

    &__available-exercises-box {
        grid-row: presenter-start / presenter-end;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        grid-gap: 2rem;
    }

    &__used-exercises-box {
        grid-row: presenter-start / presenter-end;
    }

    &__input-box {
        display: flex;
        flex-direction: column;
    }

    &__input-area {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__input {
        max-width: 30rem;
        min-width: 100%;
        max-height: 20rem;
        min-height: 4.2rem;

        color: $color-grey-dark-4;
        border: 2px solid transparent;

        transition: all 0.2s;

        &:focus,
        &:active {
            border-color: $color-primary;
        }

        &:hover {
            border-color: $color-primary-light;
        }
    }

    &__label {
        font-weight: 400;
        margin-bottom: .5rem;
    }
}