@use "../abstracts" as *;

.behind-app {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -100;

    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
}

.app-layout {
    // TODO remove this line, here just for initial development
    height: 80vh;

    margin: 6rem 7rem;
    background-color: $color-grey-light-3;
    border-radius: 5px;
    overflow: hidden;

    display: grid;
    grid-template-columns: [nav-start] 20rem [nav-end page-start] 1fr [page-end];
    grid-template-rows: [page-top] 1fr [page-bottom];
    grid-gap: 3rem;

    box-shadow: 0 2rem 6rem rgba($color-black, 0.2);

}