.createTemplatePageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;

    /* TODO BORRAR RED BORDER */
    border: 1px solid red;
}

form {
    width: 95%;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100%;

    /* TODO BORRAR RED BORDER */
    border: 1px solid red;
}

.templateInfoContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;

    /* TODO BORRAR RED BORDER */
    border: 1px solid black;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;

    /* TODO BORRAR RED BORDER */
    border: 1px solid red;
}

.inputContainer label {
    font-weight: 500;
}

.userInput {
    min-height: 2rem;
    max-height: 4rem;
    min-width: 15rem;
    width: 90%;
    max-width: 41rem;
    font-size: var(--input-field-font-size);
}

.exerciseListsContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin: 4rem 0;

    /* TODO BORRAR RED BORDER */
    border: 1px solid blue;
}

.exerciseList {
    width: 50%;

    /* TODO BORRAR RED BORDER */
    border: 1px solid red;
}

.exerciseList:first-of-type,
.inputContainer:first-of-type .createTemplateOption:first-of-type {
    margin-right: 5rem;
}

.createTemplateOptions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: var(--background-color);
    overflow: hidden;
    margin: auto;
    margin-top: 1rem;
    color: var(--font-color-contrast);

    /* TODO BORRAR RED BORDER */
    border: 1px solid red;
}

.createTemplateOption {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    max-width: 41rem;
    height: 4rem;
    padding: 20px;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--text-color);
    transition: background-color 0.2s ease;
    /* Add transition for smooth color change */
    cursor: pointer;
}


.createTemplateOption:active {
    /* Change background color for one that you consider suitable. Feel free in your decision. use a HEX variation of --accent-color */
    background-color: #ff0000;
}