.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 70%;
    margin: auto;
    padding: 2rem;
    background-color: var(--background-color);
    border-radius: 10px;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 38%;
    margin-bottom: 1rem;
    font-size: var(--body-font-size);
}

.inputField {
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 10px;
    margin: 0;
    font-size: 1em;
    width: 100%;
    transition: all .1s;
    min-width: 20rem;
    text-align: left;
}

.inputField:focus {
    outline: none;
    border-color: var(--accent-color);
}

.submitWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
}

.submitButton {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--font-color-contrast);
    border: none;
    border-radius: 5px;
    padding: 1rem 0;
    min-width: 10rem;
    cursor: pointer;
    transition: all .1s;
    font-size: var(--body-font-size);
}

.submitButton:hover {
    background-color: var(--accent-color);
}

.submitButton:disabled {
    background-color: var(--disabled-color);
    cursor: not-allowed;
}

label {
    font-size: var(--body-font-size);
    margin: 0;
    margin-bottom: 0.5rem;
}