html {
    font-size: 16px;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    background-color: var(--background-color);
}

/* Scroll bar styling */
::-webkit-scrollbar {
    width: 10px;
    transition: all .1s;
}
::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background-color: var(--secondary-color);
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--accent-color);
}

.primary-button {
    background-color: var(--primary-color);
    color: var(--font-color);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    transition: all .1s;
}

.primary-button:hover {
    background-color: var(--accent-color);
}

/* Hide numbers in input number fields */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
