html {
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
}

html * {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
}

body {
    padding-top: 70px;
    background-color: var(--html-color);
}

p {
    font-size: var(--body-font-size);
    color: var(--font-color);
}

/* Scroll bar styling */
::-webkit-scrollbar {
    width: 10px;
    transition: all .1s;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--secondary-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--accent-color);
}

/* Primary button */
.primary-button {
    background-color: var(--primary-color);
    color: var(--font-color-contrast);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    transition: all .1s;
    font-size: var(--body-font-size);
}

.primary-button:hover {
    background-color: var(--accent-color);
}

.heading {
    font-size: var(--heading-font-size);
    font-weight: 600;
    color: var(--font-color);
    margin-bottom: 2rem;
}

.subheading {
    font-size: var(--subheading-font-size);
    /* font-weight: 600; */
    color: var(--font-color);
    margin-bottom: 1rem;
}

/* Hide numbers in input number fields */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Make text input fields coherent with app style */
input[type="text"]:focus,
input[type="number"]:focus,
textarea:focus {
    /* border-color: var(--accent-color); */
    outline: none;
}

input[type="text"],
input[type="number"],
input[type="password"],
textarea {
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 10px;
    font-size: var(--input-font-size);
    transition: all .1s;
    text-align: left;
}

input[type="text"]:hover,
input[type="number"]:hover,
input[type="password"]:hover,
textarea:hover {
    border-color: var(--accent-color);
}

input[type="text"]:disabled,
input[type="number"]:disabled,
input[type="password"]:disabled,
textarea:disabled {
    border-color: var(--disabled-color);
    background-color: var(--disabled-color);
}

/* select coherent with app style */
select {
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 10px;
    font-size: 1em;
    margin: 10px;
    width: 90%;
    transition: all .1s;
}

/* select hover */
select:hover {
    border-color: var(--accent-color);
}


/* TODO: fix. it doesn't seem to work option coherent with app style */
option {
    background-color: var(--background-color);
    color: var(--font-color);
    font-size: 1em;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 90%;
    transition: all .1s;
}

/* TODO: fix. it doesn't seem to work. option hover */
option:hover {
    background-color: var(--accent-color);
    color: var(--font-color);
}

/* Button styling */
button {
    background-color: var(--primary-color);
    color: var(--font-color-contrast);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    transition: all .1s;
}

/* button hover */
button:hover {
    background-color: var(--accent-color);
}

/* active state for button, compliant with the general app style */
button:active {
    background-color: #dd7208;
}

/* button hover */
button:disabled {
    background-color: var(--disabled-color);
}

a:hover {
    text-decoration: none;
    color: var(--accent-color);
}

/* Loading states */
.spinner-body-size {
    border: 4px solid var(--spinner-color);
    width: var(--body-font-size);
    height: var(--body-font-size);
    border-radius: 50%;
    border-left-color: transparent;
    animation: spin 1s linear infinite;
}

.spinner-heading-size {
    border: 4px solid var(--spinner-color);
    width: var(--heading-font-size);
    height: var(--heading-font-size);
    border-radius: 50%;
    border-left-color: transparent;
    animation: spin 1s linear infinite;
}

.spinner-subheading-size {
    border: 4px solid var(--spinner-color);
    width: var(--subheading-font-size);
    height: var(--subheading-font-size);
    border-radius: 50%;
    border-left-color: transparent;
    animation: spin 1s linear infinite;
}

.spinner-input-size {
    border: 4px solid var(--spinner-color);
    width: var(--input-field-font-size);
    height: var(--input-field-font-size);
    border-radius: 50%;
    border-left-color: transparent;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}